<?xml version='1.0'?>
<model>
  <name>Sandia Hand Model Resources</name>
  <description>This model contains necessary resources (visual and collision meshes, material properties) for a Sandia Hand Gazebo Model.  The default urdf model contained in this package is just am empty place holder.</description>
  <version>5.1.0</version>
  <sdf>dummy.urdf</sdf>
  <author>
    <name>Morgan Quigley</name>
    <email>morgan@osrfoundation.org</email>
  </author>
</model>
