<launch>
  <arg name="world_file"  default="$(env GYM_GAZEBO_WORLD_POINT)"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="model" default="$(env GAZEBO_MODEL_PATH)"/>
  <param name="robot_model" textfile="/home/alex/Git/Research/coordination/envs/installation/../assets/models/pioneer2dx/model.sdf" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <node name="spawn_pioneer2dx_model" 
        pkg="gazebo_ros"
	type="spawn_model"
        args="-sdf -param robot_model -model pioneer2dx">
	output="screen">
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>
